@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$default-font: 'Roboto', sans-serif;
$nav-txt-color: black;
$nav-font-weight: 700;
$nav-font-size: 11px;
$nav-bg-color: #F1F1F1;
$main-bg-color: #F1F1F1;
$footer-bg-color: #243043;
$footer-link-color: #818687;
$trending-bg-color: white;
$trending-txt-color: #8A8787;
$trending-width: 362px;
$trending-width-mobile: 95%;